
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

// Variables
@import 'variables';

@import "tailwind";

@import "navigation";

body {
    font-family: 'Source Sans Pro', sans-serif;
}
.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
html {
    scroll-behavior: smooth;
}